/.vscode
/.embuild
/target
/Cargo.lock

bjws458761603*

components/wake/*
!components/wake/CMakeLists.txt
!components/wake/wrapper.cpp
!components/wake/wrapper.h

components/wake_ht
components/wake_gaia_0